.box{
    transition: all 2000ms ;
    
    height: 200px;
    width: 300px;
    border-radius: 3px solid gray;
    background-color: greenyellow;
    /* opacity: 0.5; */
    /* transform: scale(5);
    transform-origin: 0 0;*/
    /* transform: rotate(90deg);  */
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 3px 5px 11px 4px rgb(35, 32, 32);
}

main{
    position: relative;
    /* background-color: aqua; */
    height: 400px;
    width: 400px;
}

h1{
    color: rgb(197, 80, 80);
}

.box:hover{
    background-image: url('https://tse3.mm.bing.net/th?id=OIP.Jg35DTU8xEFi-BbUaql9CQHaEI&pid=Api&P=0&h=220');
    background-size: cover;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%) rotate(45deg) scale(2);
    
}