body {
    background-color: rgb(13, 26, 45);
}

.card {
    height: 779px;
    width: 456px;
    background-color: rgb(21, 39, 63);
    position: absolute;
    inset: 0;
    margin: auto;
    border-radius: 20px;
    padding: 28px;
    box-shadow: rgb(24 24 24) 0px 0px 50px;
}

.card img {
    width: 100%;
    border-radius: 19px;
}

.text h2 {
    color: rgb(234, 242, 238);
    font-family: sans-serif;
    margin-left: 10px;
    margin-top: 32px;
    font-size: 29px;
}

.text p {
    font-size: 26px;
    color: rgb(113, 133, 162);
}

.user img {
    width: 50px;
    background-color: rgb(248, 248, 248);
    margin-top: 3rem;
    border-radius: 50%;
}

.creation {
    color: rgb(113, 133, 162);
    font-size: 20px;
    position: relative;
    bottom: 15px;
    left: 21px;

}

.user .jules {
    color: rgb(234, 242, 238);

}

.line {
    background-color: rgb(40, 58, 82);
    height: 3px;
    position: relative;
    top: 29px;
}

.days {
    color: rgb(51, 230, 231);
    font-size: 24px;
    font-family: sans-serif;
    font-weight: bolder;
    position: relative;
    top: 5px;
}

.left {
    position: relative;
    left: 15rem;
    font-size: 20px;
    color: rgb(113, 133, 162);
    
}

.clock {
   position: absolute;
   width: 23px;
   right: 7rem;

}

.clock img{
    position: absolute;
    top: 3px;
    background-color:rgb(142, 175, 219);
}