body {
    margin: 0;
    background-color: #DECDAC;
    font-family: cursive;
}

.popup {
    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 16px;
    padding: 8px;
    position: fixed;
    box-shadow: 0 5px 4px 2px rgba(0, 0, 0, 0.3);
    transform: translate(-50%, -50%) scale(0);
    transition: all 0.2s ease-in-out;
    top: 0;
    left: 0;
    /* display: none; */
}

.popup-open .popup {
    /* display: block; */
    transform: scale(1);
    left: 50%;
    top: 50%;
    transform: translate(-90%, -50%) scale(1);
}

.close-icon {
    font-size: 48px;
    font-weight: 700;
    position: absolute;
    right: 16px;
    cursor: pointer;
    font-family: serif;
}

/* .overlay {
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
} */

.popup-open .overlay {
    display: block;
}


.get {
    display: block;
    text-align: center;
    margin-top: 40%;

}

.newsletter{
    background-color: rgb(232, 163, 35);
    border: 1px solid rgb(219, 155, 38);
    width: 80%;
    padding: 10px 0px;
    font-size: 19px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.news{
    font-family: sans-serif;

}

.news h1{
    font-weight: 400;
    position: absolute;
    top: 4rem;
    right: 4rem;
    color: rgb(241, 165, 22);
}
.news p{
    font-weight: 200;
    position: absolute;
    font-size: 18px;
    top: 9rem;
    right: 2rem;
    color: green;
}

.close{
    display: none;
}

.subscribe-button{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    
}

.subscribe-button input{
    background-color: rgb(229, 219, 219);
    border: none;
    border-radius: 100px;
    height: 42px;
    width: 100%;
}

.subscribe-button button{
    border: none;
    background-color: rgb(243, 0, 0);
    padding: 10px;
    border-radius: 5px;
    color: white;
    transition: 0.2s ease-in;
    height: 32px;
    display: flex;
    
}

.subscribe-button button:hover {
    border-radius:52px;
    background-color: rgb(205, 17, 17);
    transition: 0.2s ease-in;

}