*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins,sans-serif;
    
}

body{
    background-color: rgb(242, 249, 237);
}

.heading{
    color: #48A300;
    font-size: 64px;
    font-weight: 700;
    text-align: center;
}

.heading span{
    color: #61481C;
    font-weight: 700;
}

main{
    margin: 0px 5vw;
}

.container{
    background-color: #FBFBFB;
    max-width: 600px;
    margin: auto;
    margin-top: 75px;
    border-radius: 15px;
    padding: 32px 42px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}

.container span{
    font-size: 32px;
    font-weight: 500;
    vertical-align: top;
    margin-right: 2%;
}

.motivation-key{
    color: #858585;
    font-weight: 400;
    font-size: 14px;
    margin: 5% 0px;
}

.progress-bar{
    height: 30px;
    background-color: rgb(233, 242, 226);
    border-radius: 15px;
    
}

.progress-value{
    height: 100%;
    background-color: #48A300;
    border-radius: 15px;
    width: 0;
    color: #EEFFE0;
    font-weight: 500;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: width 0.4s ease-in;
    transition-duration: 0.4s;
    transition-delay: 0.1s;
    overflow: hidden;
}

.progress-value p{
    padding-left: 12px;
    min-width: max-content;
}


.error-label{
    color: #ff5151;
    font-size: 14px;
    font-weight: 400;
    padding-top: 12px;
    display: none;
}

.goal-container{
    border-radius: 17px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 82px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    margin: 20px 0px;
}

.goal-container.completed .custom-checkbox{
    background-color: #48A300;
    display: flex;
    align-items: center;
    justify-content: center;

}

.tick{
    display: none;
}

.goal-container.completed .tick{
    display: block;
}

.goal-container.completed .goal-input{
    color: #48A300;
    text-decoration: line-through;
    
}

.custom-checkbox{
    height: 24px;
    width: 24px;
    border: 2px solid rgba(97, 72, 28, 0.3);
    border-radius: 50%;
    margin: 0px 20px;
     cursor: pointer;
}

.goal-input{
    font-size: 16px;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    font-weight: 500;
    
}

.goal-input::placeholder{
    color: #D9D9D9
}

.quote{
    display: flex;
    justify-content: center;
    margin-top: 27px;
    font-weight: 800;
}

.made{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    color: #858585;
}
@media (max-width: 620px) {
    .heading{
        font-size: 35px;
    }

    .container{
        padding: 25px 20px;
        margin-top: 55px;
    }

    .container span{
        font-size: 27px;
    }

    .sun-img{
        width: 40px;
        vertical-align: middle;
    }

    .progress-bar{
        height: 15px;
    }

    .goal-container{
        height: 50px;
    }

    .custom-checkbox{
        height: 18px;
        width: 18px;
        margin: 0px 15px;
    }


}